extends ./layouts/common.pug

block stylesheet 
    link(type='text/css' rel='stylesheet' href='/css/reset.css')
    link(type='text/css' rel='stylesheet' href='/css/style.css')


block content
    .w-50.fs-w.text-white.mx-auto.fs-2=err
