extends ./layouts/common.pug

block stylesheet 
    link(type='text/css' rel='stylesheet' href='/css/reset.css')
    link(type='text/css' rel='stylesheet' href='/css/style.css')


block content
    .fs-w.text-white=err
