doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Web Quản Lý Dịch Tễ Covid
	//- link(rel='stylesheet' type='text/css' href='/css/login/styles.css')
	link(rel='stylesheet' type='text/css' href='/css/login/style.css')
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
	link(rel='stylesheet' type='text/css' href='/css/login/Footer.css')
	link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@8af0edd/css/all.css')
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Quicksand')
	include ./layouts/favicon
	meta(property="og:description" content="Bài tập lớp KTPM bởi nhóm 2 - CovidHub")
	meta(property="og:image" content="/assets/img/bg.jpg")
body
	.jumbotron.bg-cover.text-white.mb-0.rounded-0(style='height: 100vh; background: none;')
		.container.py-1.text-center
			h1.display-4.font-weight-bold WEB QUẢN LÝ DỊCH TỄ COVID
			//- p.font-italic.mb-0 Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.
			//- p.font-italic
			//- 	| Snippe by
			//- 	a.text-white(href='https://bootstrapious.com')
					u Bootstrapious
			a.btn.btn-light.px-5.mr-3.mb-1(href='#login' style="font-family: 'Quicksand';") ĐĂNG NHẬP
			a.btn.btn-outline-light.px-5.mr-3.mb-1(href='https://github.com/zennomi/Covid-19-Management-System' style="font-family: 'Quicksand';" target="_blank")
				i.fab.fa-github
				|    GITHUB

	.login-area
		.login-wrap#login
			.login-html
				input#tab-1.sign-in(type='radio' name='tab' checked)
				label.tab(for='tab-1') ĐĂNG NHẬP
				input#tab-2.sign-up(type='radio' name='tab')
				label.tab(for='tab-2')
				form.login-form(action="/auth/login" method="POST")
					.sign-in-htm
						.group
							label.label(for='user') Tên tài khoản
							input#user.input.quicksand(type='text' name='username' required value=messages.username&&messages.username[0])
						.group
							label.label(for='pass') Mật khẩu
							input#pass.input.quicksand(type='password' data-type='password' name="password" required value=messages.password&&messages.password[0])
						if (messages.warning)
							.group
								.alert.alert-danger= messages.warning
						.group 
							input#check.check(type='checkbox' name="remember" checked)
							label(for='check')
								span.mr-2.icon
								| Giữ đăng nhập 7 ngày

						.group
							input.button.quicksand(type='submit' value='Đăng nhập')
				//- .sign-up-htm
				//- 	.group
				//- 		label.label(for='user') Username
				//- 		input#user.input(type='text')
				//- 	.group
				//- 		label.label(for='pass') Password
				//- 		input#pass.input(type='password' data-type='password')
				//- 	.group
				//- 		label.label(for='pass') Repeat Password
				//- 		input#pass.input(type='password' data-type='password')
				//- 	.group
				//- 		label.label(for='pass') Email Address
				//- 		input#pass.input(type='text')
				//- 	.group
				//- 		input.button(type='submit' value='Sign Up')
				//- 	.hr
					//- .foot-lnk
					//- 	label(for='tab-1') Already Member?

	footer.site-footer
		.container
			.row
				.col-sm-12.col-md-6
					h6 Về chúng mình 
					p.text-justify  
						i COVID19 ANTI HUB 
						| là một nhóm được thành lập ngay sau khi thầy Nhật Hoá học phần Công Nghệ Phần Mềm giao giao bài tập lớn, mục tiêu nhóm là xây dựng một web app quản lý dịch tễ covid. Nhóm đã trải qua rất nhiều khủng hoảng về tinh thần, suy nghĩ về cuộc đời, về môn học nặng 2 tín này, nhưng thật may mắn là mình đang viết dòng này sau khi đã code xong 80% cái web và ngày mai là ngày nộp báo cáo. Thôi viết thế đủ kín khung này rồi, mọi người nhớ chú ý và tự bảo vệ mình trong đợt dịch nha  
						i.text-danger.fas.fa-heart
				.col-xs-6.col-md-3
					h6 Thành viên
					ul.footer-links
						li
							a(href='#')
								b Leader
								|  Nguyễn Ngọc Tuân
						li
							a(href='#')
								b Coder
								|  Nguyễn Đăng Tuấn Anh 
						li
							a(href='#')
								b Designer
								|   Nguyễn Đức Tùng
						li
							a(href='#')
								b BA
								|   Nguyễn Đồng Đức Anh 
						li
							a(href='http://scanfcode.com/category/android/')
								b Tester 
								|   Nguyễn Huy Hoàn 
				.col-xs-6.col-md-3
					h6 Tech
					ul.footer-links
						li
							a(href='#') MongoDB
						li
							a(href='#') ExpressJS
						li
							a(href='#') Pug
						li
							a(href='#') Nodejs
						li
							a(href='#') Và rất nhiều thư viện khác
			hr
		.container
			.row
				.col-md-8.col-sm-6.col-xs-12
					p.copyright-text
						| Copyright &copy; 2021 All Rights Reserved by 
						a(href='#') Tuân Anhx2 Tùng Hoàn
						| .
				.col-md-4.col-sm-6.col-xs-12
					ul.social-icons
						li
							a.facebook(href='https://www.facebook.com/ngdatuananh/')
								i.fab.fa-facebook
						li
							a.dribbble(href='https://github.com/zennomi/Covid-19-Management-System')
								i.fab.fa-github
