@font-face {
    font-family: 'utm_avo';
    src: url('/assets/font/utm_avo.ttf');
}

@font-face {
    font-family: 'utm_avo_bold';
    src: url('/assets/font/utm_avo_bold.ttf');
}

@font-face {
    font-family: 'utm_centur';
    src: url('/assets/font/utm_centur.ttf');
}

body {
    background-image: linear-gradient(rgba(115, 116, 128, 0.7), rgba(115, 116, 128, 0.7)), url(https://img.nhandan.com.vn/Files/Images/2020/12/28/IMG_7802-1609097292047.JPG);
    background-position: center;
    background-size: cover;
}

h3 {
    font-weight: 900;
    font-size: 25px;
}

.fm-bold {
    font-family: 'utm_avo_bold';
}

.quicksand {
    font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.utm_centur {
    font-family: 'utm_centur', 'Times New Roman', Times, serif;
}

#nav {
    max-height: 17vh;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    color: white;
}

.title h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Roboto', 'utm_avo', sans-serif;
}

img {
    max-height: 120px;
}

.funclist1 {
    padding: 1vh;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.funclist2 {
    padding: 1vh;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.func {
    flex-basis: 28%;
    box-sizing: border-box;
    min-height: 28vh;
    padding-top: 10px;
    background: rgba(85, 86, 94, 0.7);
    transition: 0.5s;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 0 40px 10px gray;
}

.func h1 {
    font-size: 85px;
    font-weight: 900;
}

.func p {
    font-family: Quicksand;
}

.func h3 {
    font-family: Quicksand;
}

.func:hover {
    background: rgba(46, 45, 41, 1);
}

a {
    color: white;
}

.log {
    display: flex;
    text-align: right;
    margin-right: 2%;
    padding: 0 20px;
}

.b1 {
    margin-right: 30px;
}

.btn-tung {
    /* background: rgba(85, 86, 94, 0.7);
	 */
    background: #fff;
    opacity: 0.8;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    min-width: 100px;
    font-family: Quicksand;
    color: #212529;
    font-weight: 900;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-tung-hover,
.btn-tung:hover {
    color: white;
    background: #212529;
}

.btn-tung-hover:hover {
    background: #fff;
    color: #212529;
    border: solid 2px #212529;
}

.compic {
    height: 100px;
    max-height: 100px;
    width: 110px;
    opacity: 1;
}

.bar {
    display: flex;
    width: 80%;
    margin: auto;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.fun {
    height: 40px;
}

.fun .btn-tung {
    min-width: 140px;
    /* box-shadow: 0 0 10px 5px gray inset; */
    font-size: 20px;
    transition: 0.5s;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .btn-tung {
        min-width: 0;
    }
    .fun .btn-tung {
        padding: 10px;
        min-width: 50px;
    }
}

table {
    border-collapse: collapse;
    position: relative;
    color: white;
    border: 2px solid white;
    /* left: 50px;
	top: 40px; */
    width: 160vh;
    font-family: 'utm_centur', 'serif';
}

.sbar {
    height: 5px;
}

.sinput {
    position: relative;
    width: 50vh;
    /* left: 50vh; */
    height: 25px;
    font-size: 15px;
}

.sinput:focus {
    outline: none;
}

.sbutton {
    position: relative;
    /* left: 50vh; */
    height: 30px;
    font-size: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header {
    height: 40px;
    border: 2px solid white;
    /* line-height: 40px; */
    text-align: left;
    background: rgba(44, 56, 47, 0.7);
}

.header th {
    border: 2px solid white;
    cursor: pointer;
}

.info {
    /* height: 25px; */
    border: 1px solid white;
    text-align: left;
    background: rgba(85, 86, 94, 0.7);
}

.info td {
    border: 1px solid white;
    padding: 5px;
    line-height: normal;
}

.subfunc {
    position: relative;
    float: right;
    right: 5vh;
    top: 4vh;
}

.subfunc ul li {
    padding: 10px;
}

.subfunc ul li button {
    height: 40px;
    width: 25vh;
    font-size: 20px;
    box-shadow: 0 0 10px 5px gray inset;
}

.toast {
    border-radius: 1rem;
    color: #212529;
    line-height: normal;
}

.toast-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #212529;
}

.btn {
    font-family: Quicksand;
}