extends ../layouts/common.pug

block stylesheet 
    link(rel="stylesheet", href="/css/nhankhau/create.css")

block content
    .tile.d-block.mb-2
        h2 Thêm thông tin xét nghiệm
    form.w-75.d-flex.justify-content-around.mx-auto.mb-3.p-3.formpage(action="/test-covid/them-moi" method="POST")
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-1(for='name') Họ và tên
                input.form-control(type='text' name='hoVaTen' disabled)
            .form-div.mb-1
                label.flabel.mb-1(for='cmt') Số CMT
                input#soCCCDInput.form-control(type='text' name='soCCCD' required)
            .form-div.mb-1
                label.flabel.mb-1(for='birth') Ngày sinh
                input.form-control(type='date' name='namSinh' disabled)
            .form-div.mb-1
                label.flabel.mb-1(for='address') Địa chỉ
                input.form-control(type='text' name='diaChi' disabled)
            .form-div.mb-1
                label.flabel.mb-1(for='email') Mã hộ khẩu
                input.form-control(type='text' name='maHoKhau' disabled)
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-1(for='testtime') Thời điểm test
                input.form-control(type='datetime-local' name='thoiDiemTest' required)
            .form-div.mb-1
                label.flabel.mb-1(for='tform') Hình thức test
                select.form-select(name='hinhThucTest' required)
                    option(value='PCR') PCR
                    option(value='TEST NHANH') Test nhanh
            .form-div.mb-1
                label.flabel.mb-1(for='result') Kết quả
                select.form-select(name='ketQua' required)
                    option(value='CHƯA CÓ') Chưa có
                    option(value='DƯƠNG TÍNH') Dương tính
                    option(value='ÂM TÍNH') Âm tính
            .subm.d-flex.justify-content-around
                button#submitBtn.btn.btn-tung(type='submit' disabled) Thêm mới
                a.btn.btn-tung(href="/test-covid") Hủy
block script
    script(src="/js/notify.js") 
    script(src="/js/getNhanKhau.js") 
