* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 84.5rem;
	margin: 0px auto;
	height: 41.1rem;
	font-family: montserrat, arial, verdana;
}
#header {
	width: 100%;
	height: 20%;
	background-color: #56d958;
}
#main_part {
	width: 100%;
	height: 65%;
	background-image: linear-gradient(#37f527, #9aed93);
}
.logo {
	width: 8.22rem;
	height: 100%;
	border-radius: 50%;
	float: left;
}
.logo_image {
	width: 8.22rem;
	height: 8.22rem;
}
.header_image_container {
	width: 50rem;
	height: 8.22rem;
	float: right;
	background-image: url("/assets/img/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 100px 0px 75px 20px #56d958, inset -50px 0px 25px -10px #56d958;


}
.pro_name {
	width: 11.78rem;
	height: 8.22rem;
	float: left;
}
.management {
	position: relative;
	left: 1rem;
}
/* .header_image {
	width: 27rem;
	height: 8.22rem;
	float: right;
} */
