@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 480px;
  min-height: 95%;
  top: 9px;
  position: relative;
  /* background:url(https://yenbai.gov.vn/covid19/noidung/tintuc/PublishingImages/lanhuong/phong%20chong%20dich%20co%20vid.jpg) no-repeat center; */
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px 50px 50px 50px;
  background-color: #d0d0d0;
  border-radius: 5px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #26272b;
  border-color: #09111f;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 10px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: black;
  display: block;
}

/* .login-form .group .input :focus{
  border:none;
  border-radius: 25px;
} */
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 5px 10px;
  border-radius: 20px; 
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: black;
  font-size: 12px;
}
.check {
  margin: 0;
}
.login-form .group .button {
  background: #09111f;
  color: white;
}
.login-form .group .button:hover {
  opacity: 0.7;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: black;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}
label.label {
  margin: 0;
}
body {
  margin: 0px auto;
  height: 41.1rem;
  font-family: "Montserrat", arial, verdana;
}
#header {
  width: 100%;
  height: 20%;
  background-color: #c8c8c8;
}
#main_part {
  width: 100%;
  height: 47%;
  background: #5b5f5c;
}
.logo {
  width: 8.22rem;
  height: 100%;
  border-radius: 50%;
  float: left;
}
.logo_image {
  width: 8.22rem;
  height: 8.22rem;
}
@media (min-width: 1120px){
  div.header_image_container {
    /* background: url('1.jpg'); */
    width: 50vw;
    height: 8.22rem;
    float: right;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    box-shadow: inset 100px 0px 75px 20px #c8c8c8,
      inset -50px 0px 25px -10px #c8c8c8;
  }
}
.pro_name {
  width: 11.78rem;
  height: 8.22rem;
  float: left;
}
.management {
  position: relative;
  left: 1rem;
}
/* .header_image {
  width: 27rem;
  height: 8.22rem;
  float: right;
} */
#image {
  width: 380px;
  height: 85px;
  padding-bottom: 5px;
}

.warning {
  color: red;
}
.login-form .group .input:focus{
  outline: none;
}