extends ../layouts/common.pug

block stylesheet 
    link(rel="stylesheet", href="/css/nhankhau/create.css")

block content
    .tile.d-block.mb-2
        h2 Thêm thông tin cách ly
    form.w-75.d-flex.justify-content-around.mx-auto.mb-3.p-3.formpage(action="/cach-ly/them-moi" method="POST")
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='name') Họ và tên
                input.form-control(type='text' name='hoVaTen' disabled)
            .form-div.mb-1
                label.flabel.mb-2(for='cmt') Số CMT/CCCD
                input#soCCCDInput.form-control(type='text' name='soCCCD' required)
            .form-div.mb-1
                label.flabel.mb-2(for='birth') Ngày sinh
                input.form-control(type='date' name='namSinh' disabled)
            .form-div.mb-1
                label.flabel.mb-2(for='address') Địa chỉ
                input.form-control(type='text' name='diaChi' disabled)
            .form-div.mb-1
                label.flabel.mb-2(for='email') Mã hộ khẩu
                input.form-control(type='text' name='maHoKhau' disabled)
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='noicachly') Nơi cách ly
                input.form-control(type='text' name='noiCachLy' required placeholder="Tại nhà ghi 'nhà'" value="Nhà")
            .form-div.mb-1
                label.flabel.mb-2(for='level') Mức độ
                select.form-select(name='mucDo' required)
                    option(value='F0') F0
                    option(value='F1') F1
                    option(value='F2') F2
                    option(value='F3') F3
                    option(value='F4') F4
                    option(value='F5') F5
            .form-div.mb-1
                label.flabel.mb-2(for='cldate') Ngày bắt đầu cách ly
                input.form-control(type='date' name='thoiGian' required)
            .subm.d-flex.justify-content-around
                button#submitBtn.btn.btn-tung.cancel(type='submit' disabled) Thêm mới
                a.btn.btn-tung(href="/cach-ly") Hủy
block script
    script(src="/js/notify.js") 
    script(src="/js/getNhanKhau.js") 
