extends ../layouts/common.pug

block stylesheet 

block content
    .card.w-50.mx-auto.shadow
        .card-body 
            .card-title     
                | Xác nhận xoá
            form.d-flex.justify-content-around(action="/cach-ly/"+cachLy._id+"/xoa" method="POST")
                button.btn.btn-danger(type='submit') Xác nhận 
                a.btn.btn-outline-secondary(href='/cach-ly') Huỷ
                
                