extends ../layouts/common.pug

block content
    .sbar
        input.sinput(type='text')
        button.sbutton Tìm kiếm
    .subfunc
        ul
            li.add
                button Thêm
            li.delete
                button Xóa
            li.fix
                button Sửa
            li.show
                button Hiển thị tất cả
    table
        tr.header
            th ID
            th Họ và tên
            th Ngày sinh
            th Giới tính
            th Địa chỉ
            th Số điện thoại
            th Nơi cách ly
            th Thời gian
            th Mức độ
        tr.info
            th 1
            th Nguyễn Ngọc Tuân
            th 22/04/2001
            th Nam
            th Cầu Giấy, Hà Nội
            th 0123456789
            th Tại gia
            th 21/05/2021
            th F0
            th
                button Xem
        tr.info
            th 1
            th Nguyễn Ngọc Tuân
            th 22/04/2001
            th Nam
            th Cầu Giấy, Hà Nội
            th 0123456789
            th Tại gia
            th 21/05/2021
            th F0
            th
                button Xem
        tr.info
            th 1
            th Nguyễn Ngọc Tuân
            th 22/04/2001
            th Nam
            th Cầu Giấy, Hà Nội
            th 0123456789
            th Tại gia
            th 21/05/2021
            th F0
            th
                button Xem
