extends ../layouts/common.pug

block content
    form.mb-2.container
        button.sbutton.btn.btn-tung.align-middle.me-2 Tìm kiếm
        input.me-2.sinput.align-middle.form-control.d-inline(type='text' onkeyup="searchTable(this, 'nhanKhauTable')")
        a.sbutton.btn.btn-tung(href="/ho-khau/them-moi") Thêm hộ khẩu mới
    .container
        .table-responsive
            table.table.text-white.w-75.mx-auto#nhanKhauTable
                tr.header.text-center
                    th Mã hộ khẩu
                    th Tên chủ hộ
                    th Số thành viên
                    th Thao tác
                each hk in hoKhaus
                    tr.info
                        td.text-center= hk.maHoKhau
                        td
                            if hk.chuHoKhauId
                                a(href="/nhan-khau/" + hk.chuHoKhauId._id + "/chi-tiet")= hk.chuHoKhauId.hoVaTen
                        td.text-center.text-center= hk.nhanKhau.length
                        td
                            .d-flex.justify-content-around
                                a.d-block.btn.btn-secondary.me-1(href="/nhan-khau?hoKhauId="+hk._id) Chi tiết
                                a.d-block.btn.btn-secondary.me-1(href="/nhan-khau/them-moi?maHoKhau="+hk.maHoKhau) Thêm hộ khẩu
                                a.d-block.btn.btn-secondary.me-1(href="/ho-khau/"+hk._id+"/cap-nhat") Cập nhật
                                a.d-block.btn.btn-secondary.me-1(href="/ho-khau/"+hk._id+"/xoa") Xoá
    script(src="/js/searching-table.js") 
