.formpage {
	/* position: relative; */
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	/* width: 169vh;
	height: 60vh;
	top: 50px;
	left: 10px;
	display: flex; */
}
.indi {
	flex-basis: 31%;
	width: 56vh;
	height: 57vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.presymp {
	flex-basis: 31%;
	width: 56vh;
	height: 57vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.symp {
	flex-basis: 31%;
	width: 56vh;
	height: 57vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.form-div {
	flex-basis: 12%;
	width: 50vh;
	margin: auto;
}
.flabel {
	color: white;
	font-size: 24px;
	margin-bottom: 5px;
	font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font: 400 13.3333px Arial; */
	/* font-weight: 600; */
}
.finput {
	width: 100%;
	height: 1.5rem;
	background: none;
	outline: none;
	color: white;
	font-size: 18px;
	font-weight: 400;
}
.fselect {
	width: 101%;
	height: 1.7rem;
	background: none;
	outline: none;
	color: white;
	font-size: 18px;
	font-weight: 400;
	border: 2px solid rgb(38, 36, 36);
}
.op {
	background: rgb(38, 36, 36);
}
.flabel1 {
	color: white;
	font-size: 18px;
	font-family: Quicksand;
	font-weight: 600;
}
.symptom {
	max-width: 500px;
	flex-basis: 40%;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.subm {
	flex-basis: 10%;
	width: 50vh;

	margin: auto;
	display: flex;
}
.opti {
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom: 6px;
	flex-basis: 15%;
	color: white;
	font-weight: 800;
}
.opt {
	flex-basis: 80%;
	display: flex;
}
.miniop {
	flex-basis: 31%;
	color: white;
	font-size: 17px;
}

.cancel {
	flex-basis: 48%;
	margin: auto;
	height: 35px;
	cursor: pointer;
	font-size: 20px;
}
.tile {
	position: relative;
	color: white;
	font-size: 40px;
	font-weight: 900;
	font-family: Quicksand;
	margin-left: 100px;
}
input[disabled], select[disabled] {
	background-color: cadetblue;
}
input.form-control, select.form-select {
	font-family: 'utm_centur';
}